{
    "extends": "@istanbuljs/nyc-config-typescript",
    "reporter": [
        "html",
        "text",
        "lcov"
    ],
    "all": true,
    "extension": [
        ".ts"
    ],
    "include": [
        "packages/*/src/**/*.ts"
    ],
    "require": [
        "ts-node/register",
        "source-map-support/register"
    ],
    "cache": false
}
